<style>
  .compass {
    width: 150px;
    height: 150px;
    border: 4px solid black;
  }

  .pointer {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid black;
    transform-origin: center 75px;
  }
</style>

<div class="layout layout--col">
  {% assign metar = features.first.properties %}
  
  <div class="columns columns--center flex--grow">
    <div class="grid grid--cols-4">
      <div class="col--span-1" style="display: flex; justify-content: center">
        {% render "compass", metar: metar, class: "gap--xsmall", wspd: "value--small", wdir: "value--xsmall" %}
      </div>
      <div class="col--span-3">
        <div class="grid grid--cols-4">
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--small">{{ metar.fltcat }}</div>
              <div class="label">Category</div>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xsmall">{% render "temp", c: metar.temp %}</div>
              <div class="label">Temperature</div>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xsmall">{% render "temp", c: metar.dewp %}</div>
              <div class="label">Dewpoint</div>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xsmall">{% render "altimeter", mb: metar.altim %} inHg</div>
              <div class="label">Altimeter</div>
            </div>
          </div>
          
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xsmall">{% render "visibility", sm: metar.visib %}</div>
              <div class="label">Visibility</div>
            </div>
          </div>

          {% if metar.cldBas1 %}
            <div class="item col--span-2">
              <div class="meta"></div>
              <div class="content">
                {% render "clouds", metar: metar, class: "value--xsmall" %}
                <div class="label">Clouds</div>
              </div>
            </div>
          {% else %}
            <div class="item">
              <div class="meta"></div>
              <div class="content">
                <div class="label">Clear sky</div>
              </div>
            </div>
          {% endif %}

          {% if metar.wx %}
            <div class="item">
              <div class="meta"></div>
              <div class="content">
                <div class="value value--xsmall">{{ metar.wx }}</div>
                <div class="label">Conditions</div>
              </div>
            </div>
          {% endif %}
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img
    class="image"
    src="https://usetrmnl.com/images/plugins/trmnl--render.svg"
  />
  <span class="title">{{ metar.site }} ({{ metar.id }})</span>
  <span class="instance">{{ metar.obsTime | date: "%B %-d, %Y – %H:%MZ" }}</span>
</div>