<style>
  .compass {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pointer {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    top: 0;
    left: 50%;
    transform-origin: center 40px;
  }

  .column--center { align-items: center; justify-content: center }
  .flex--grow { flex-grow: 1 }
</style>

<div class="layout layout--col">
  {% assign metar = features.first.properties %}
  
  <div class="columns columns--center flex--grow">
    <div class="grid grid--cols-4">
      <div class="col--span-1" style="align-items: center">
        <div class="compass">
          {% if metar.wdir != 'VRB' and metar.wspd > 0 %}
          <div
            class="pointer"
            style="transform: translateX(-50%) rotate({{ metar.wdir }}deg)"
          ></div>
          {% endif %}

          <div class="value value--xxsmall">
            {% if metar.wspd == 0 %} calm {% else %} {{ metar.wspd }} kt{% endif %}
          </div>

          {% if metar.wgst %}
            <div class="value value--xxsmall">
             – {{ metar.wgst }} kt
            </div>
          {% endif %}

          <div class="description">
            {% if metar.wdir == 'VRB' %} variable {% elsif metar.wspd >
            0 %} {{ metar.wdir }}° {% endif %}
          </div>
        </div>
      </div>
      <div class="col--span-3">
        <div class="grid grid--cols-3">
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xxsmall">{{ metar.fltcat }}</div>
              <div class="label label--small">Category</div>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xxsmall">{{ metar.temp | times: 1.8 | plus: 32 | round }} °F</div>
              <div class="label label--small">Temp.</div>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xxsmall">{{ metar.dewp | times: 1.8 | plus: 32 | round }} °F</div>
              <div class="label label--small">Dewpoint</div>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xxsmall">{{ metar.altim | times: 0.02953 | round: 2 }}</div>
              <div class="label label--small">Altimeter</div>
            </div>
          </div>
          
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xxsmall">{{ metar.visib }} sm</div>
              <div class="label label--small">Visibility</div>
            </div>
          </div>

          {% if metar.cldBas1 %}
            <div class="item col--span-3">
              <div class="meta"></div>
              <div class="content">
                {% for i in (1..5) %}
                  {% capture base %}cldBas{{ i }}{% endcapture %}
                  {% capture coverage %}cldCvg{{ i }}{% endcapture %}
                  {% if metar[coverage] %}
                    <div class="value value--xxsmall">{{ metar[coverage] }} {{ metar[base] | times: 100 | number_with_delimiter }} ft</div>
                  {% endif %}
                {% endfor %}
                <div class="label label--small">Clouds</div>
              </div>
            </div>
          {% else %}
            <div class="item col--span-3">
              <div class="meta"></div>
              <div class="content">
                <div class="label label--small">Clear sky</div>
              </div>
            </div>
          {% endif %}
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img
    class="image"
    src="https://usetrmnl.com/images/plugins/trmnl--render.svg"
  />
  <span class="title">{{ metar.id }}</span>
  <span class="instance">{{ metar.obsTime | date: "%H:%MZ" }}</span>
</div>